<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
<div id="background">
<a href="/"> Home Screen</a> 
<a href="/customers">Existing Customers</a>
<h4>Select your Zones::</h4>
<pre id="info"></pre>
<div>
    <h4>find customer to selected zone::</h4>
<form method="GET" action="/address">
<input type="text" name ="address" placeholder="phone #"/>
<input type="submit" />
</form>
</div>
<h4>customers:</h4>
<% if(customer) { %>
<p> <%= customer.phone %> <%= customer.locations[0].address %> </p>
<% } %>
<br>
<br>
</div>
<div id="map"></div>


 <script>
     mapboxgl.accessToken = '<%= mapkey %>'
     const map = new mapboxgl.Map({
         container: 'map',
         style: 'mapbox://styles/mapbox/streets-v11',
         center: [-73.93126065039185, 40.74089181704446],
         zoom: 10
     })
    //  map.on('click', function(e) {
	// 	    var coordinates = e.lngLat;

	// 	    new mapboxgl.Popup()
	// 	      .setLngLat(coordinates)
	// 	      .setHTML('you clicked here: <br/>' + coordinates)
	// 	      .addTo(map);
	// 	  });
//POLYGON DRAWWS
var draw = new MapboxDraw({
    displayControlsDefault: false,
    controls: {
        polygon: true,
        trash: true
    },
    defaultMode: 'draw_polygon'
});
map.addControl(draw);
 
map.on('draw.create', updateArea);
map.on('draw.delete', updateArea);
map.on('draw.update', updateArea);

function updateArea(e) {
    const headers = new Headers({
  'Content-Type': 'application/json',
  'lngLat': e.features[0].geometry.coordinates[0],
  'id': e.features[0].id
})
        fetch('/zone', {
            method: 'GET',
            headers: headers,
        }).then(response => response.json())
        .then(data => console.log(data))
        .catch(err => console.log(err))
   console.log(e) //the click event
   console.log(e.features[0].geometry.coordinates[0])
   console.log(e.features[0].id)
}
//taking geocoded customer address and putting a marker on the map for it 

//if(coordinates) {
        const geojson = {
            type: 'featureCollection',
            features: [{
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: ['<%= coordinates[0]%>', '<%= coordinates[1]%>']
                },
                properties: {
                    title: 'Mapbox',
                    description: 'Mapbox Element'
                }
            }]
        }
        geojson.features.forEach(marker => {
            const el = document.createElement('img')
            el.class = 'marker'
            el.src = 'images/mapbox-marker.png'
            el.style.width = '1vw'
            new mapboxgl.Marker(el)
            .setLngLat(marker.geometry.coordinates)
            .addTo(map)
        })
//}
map.on('click', function (e) {
    document.getElementById('info').innerHTML =
    JSON.stringify(e.lngLat.wrap())
});

//for each 'click, push.coordinates --> to array.push[]  
//run function spread operator - (new way to do push function) -- to check if entire length of array(add new position)loop through array-- look into:caching array values - adding data to second object- before loop check if value is already in array
// function push first/check points with loop 

// const newZone = document.getElementById("newZone")


 </script>
 <!-- <h2>zone info:</h2>
<ul>
    < % headers.forEach(function(lnglat) { %>
<li>
    <p> < %=lnglat %></p>
</li>
    < % }) %>
</ul> -->